{% load static %}

<li>
    <article class="post">
        <a href="{% url "post-detail-page" slug='the-mountains' %}">
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Mountain Hiking" />
            <div class="post__content">
                <h3>Mountain Hiking</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur similique, corporis totam repudiandae culpa quod tenetur laborum voluptatem autem dicta cum, quaerat aut sequi dolore cupiditate fugiat natus! Tempora!</p>
            </div>
        </a>
    </article>
</li>